<!-- <header class="nav-top">
  <span class="hamburger material-icons" id="ham">menu</span>
</header> -->

<nav class="nav nav-drill">
  <menu class="nav-items nav-level-1 list-unstyled mt-0 pt-16">
    <li class="nav-item nav-expand">
      <a class="nav__link nav-expand__link" href="#">
        Menu
      </a>
      <ul class="nav-items nav-expand-content list-unstyled">
        <li class="nav-item">
          <a class="nav__link" href="#">
            Level 2
          </a>
        </li>
        <li class="nav-item nav-expand">
          <a class="nav__link nav-expand__link" href="#">
            Menu
          </a>
          <ul class="nav-items nav-expand-content list-unstyled">
            <li class="nav-item">
              <a class="nav__link" href="#">
                Level 3
              </a>
            </li>
            <li class="nav-item nav-expand">
              <a class="nav__link nav-expand__link" href="#">
                Menu
              </a>
              <ul class="nav-items nav-expand-content list-unstyled">
                <li class="nav-item">
                  <a class="nav__link" href="#">
                    Level 4
                  </a>
                </li>
                <li class="nav-item nav-expand">
                  <a class="nav__link nav-expand__link" href="#">
                    Menu
                  </a>
                  <ul class="nav-items nav-expand-content list-unstyled">
                    <li class="nav-item">
                      <a class="nav__link" href="#">
                        Level 5 Directory
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav__link" href="#">
                        Level 5 Contact
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav__link" href="#">
                        Level 5 Quick links
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav__link" href="#">
                        Level 5 Launchpad
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav__link" href="#">
                    Level 4 Directory
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav__link" href="#">
                    Level 4 Contact
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav__link" href="#">
                    Level 4 Quick links
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav__link" href="#">
                    Level 4 Launchpad
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav__link" href="#">
                Level 3 Directory
              </a>
            </li>
            <li class="nav-item">
              <a class="nav__link" href="#">
                Level 3 Contact
              </a>
            </li>
            <li class="nav-item">
              <a class="nav__link" href="#">
                Level 3 Quick links
              </a>
            </li>
            <li class="nav-item">
              <a class="nav__link" href="#">
                Level 3 Launchpad
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#">
            Level 2 Directory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#">
            Level 2 Contact
          </a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#">
            Level 2 Quick links
          </a>
        </li>
        <li class="nav-item">
          <a class="nav__link" href="#">
            Level 2 Launchpad
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#">
        Directory
      </a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#">
        Contact
      </a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#">
        Quick links
      </a>
    </li>
    <li class="nav-item">
      <a class="nav__link" href="#">
        Launchpad
      </a>
    </li>
  </menu>
</nav>
<!--    <nav class="nav-mobile z-3 w-100 d-lg-none" data-element="toggle-nav">
     <ul class="nav-mobile__list">
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item One</a>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link nav-mobile__link--plus" data-behaviour="toggle-link-icon" href="#">Menu item Two</a>
         <ul class="nav-mobile__sub-list" data-behaviour="toggle-sub-menu">
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link"  href="#">Sub Menu item one</a>
           </li>
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link" href="#">Sub Menu item two</a>
           </li>
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link" href="#">Sub Menu item three</a>
           </li>
         </ul>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item Three</a>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item Four</a>
       </li>
     </ul>
   </nav> -->