
   
   <nav class="nav-mobile z-3 w-100 d-lg-none" data-element="toggle-nav">
     <ul class="nav-mobile__list">
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item One</a>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link nav-mobile__link--plus" data-behaviour="toggle-link-icon" href="#">Menu item Two</a>
         <ul class="nav-mobile__sub-list" data-behaviour="toggle-sub-menu">
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link"  href="#">Sub Menu item one</a>
           </li>
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link" href="#">Sub Menu item two</a>
           </li>
           <li class="nav-mobile__sub-item">
             <a class="nav-mobile__link" href="#">Sub Menu item three</a>
           </li>
         </ul>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item Three</a>
       </li>
       <li class="nav-mobile__item">
         <a class="nav-mobile__link" href="#">Menu item Four</a>
       </li>
     </ul>
   </nav>
