<header class="top-header">
    
    <div class="container-lg">
        <div class="row justify-content-between justify-content-md-around align-items-center py-4">
            <div class="col-5 col-md-4 col-lg-3 d-flex px-3">
                <a href="#">
                    <img src="assets/img/header/logo.png" alt=""  height="51" width="74">
                </a>
                <h5 class="font-weight-montserrat-400 text-white ml-3 ">Рекламное ВЕБ агенство</h5>
            </div>
            <div class="col-1 d-lg-none">
                {{>mobile.-menu}}
            </div>
            <div class="col-6 d-none d-lg-block top-header__header-menu px-0">
                <ul class="mx-auto d-flex justify-content-between align-items-center font-raleway-400 ">
                    <li class="dropdown">
                        <a href="#" class="font-raleway-400 text-decoration-none text-white active py-3 px-3 rounded-pill" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги и цены</a>
                        <div class="dropdown-menu border-0" aria-labelledby="dropdownMenuLink">
                            
                            <div class="dropdown-bg mt-3 rounded-lg shadow">
                                <div class="row mx-auto py-2">
                                    <div class="col-4 pr-0 pl-3">
                                        <h5 class="heading font-weight-montserrat-700 text-uppercase mt-2">Увеличение продаж</h5>
                                        <ul>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                
                                        </ul>
                                    </div>
                                    <div class="col-4 col-dropdown pr-0 pl-2">
                                        <h5 class="heading font-weight-montserrat-700 text-uppercase  mt-2">Увеличение конверсии</h5>
                                        <ul>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                
                                        </ul>
                                
                                    </div>
                                
                                    <div class="col-4 pr-0 pl-2">
                                        <h5 class="heading font-weight-montserrat-700 text-uppercase mt-2">Разработка и дизайн</h5>
                                        <ul>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li>
                                            <li class="mb-2">
                                                <a href="#" class="font-raleway-400 text-decoration-none">Seo-продвижение сайта</a>
                                            </li class="mb-2">
                                        </ul>
                                        <div class="all-services w-100 text-right p-3">
                                            <a href="#" class="font-weight-montserrat-700">Все услуги</a>
                                        </div>
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="">
                        <a class="font-raleway-400 text-decoration-none text-white py-3 px-3 rounded-pill" href="#">Кенйсы</a>
                    </li>
                    <li class="">
                        <a class="font-raleway-400 text-decoration-none text-white py-3 px-3 rounded-pill" href="#">FAQ</a>
                    </li>
                    <li class="">
                        <a class="font-raleway-400 text-decoration-none text-white py-3 px-3 rounded-pill" href="#">Команда</a>
                    </li>
                    <li class="">
                        <a class="font-raleway-400 text-decoration-none text-white py-3 px-3 rounded-pill" href="#">Контакты</a>
                    </li>
                </ul>
            </div> 

            <div class="col-md-4 col-lg-3 d-none d-md-block text-right">
                <a href="#" class="h4 text-white font-weight-montserrat-700 mb-0">+7 (495) 189-73-96</a>
                <a href="#" class="text-white font-raleway-400">order@savin-pr.ru</a>
            </div>
        </div>

    </div>
</header>