:root {
    --bs-breadcrumb-divider: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4 4L1 7' stroke='white'/%3e%3c/svg%3e ");
}

@include media-breakpoint-up(xxl) {
    html {
        font-size: 18px;
    }
}
@include media-breakpoint-down(lg) {
    html {
        font-size: 13px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
strong {
    color: #535c69;
}
//fonts-size

.fs-7 {
    font-size: 0.75rem;
}
.text-purle {
    color: $purple;
}
.bg-purple {
    background: $purple;
}

.btn-gradient {
    background-image: linear-gradient(
        260deg,
        rgb(146, 9, 180) 0%,
        rgb(207, 0, 170) 100%,
        rgb(207, 0, 170) 100%,
        rgb(255, 3, 128) 100%
    );
    box-shadow: 8.918px 8.03px 12px 0px rgba(91, 11, 51, 0.36);
}

.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: $zindex-dropdown;
}
.z-2 {
    z-index: $zindex-sticky;
}
.z-3 {
    z-index: $zindex-fixed;
}
.z-4 {
    z-index: $zindex-modal-backdrop;
}
.z-5 {
    z-index: $zindex-modal;
}
.z-6 {
    z-index: $zindex-popover;
}
.z-7 {
    z-index: $zindex-tooltip;
}
.text-indigo {
    color: $indigo;
}
.btn-outline-warning {
    &:hover {
        color: $white;
        box-shadow: 0px 0px 54px rgba(255, 193, 7, 0.45);
    }
}
.no-spacer {
    white-space: nowrap;
}
.wrap-spacer {
    white-space: pre-wrap;
}
.sct-header__btn {
    height: 4.5rem;
    white-space: nowrap;
}

h2 {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: rem-calc(75px);
        height: 8px;
        left: 0px;
        top: -10px;
        background-image: url(../img/h2-line.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.splide__arrow {
    background: none;
}

@include media-breakpoint-down(sm) {
    h2 {
        font-size: rem-calc(30px);
    }
}
