//база

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Rubik:300&display=swap&subset=cyrillic");

//bootstrap
$light: #f9f9f9;
$secondary: #ebebeb;
$green: #00a99d;
$purple: #5a117d;
$black: #161616;

$enable-rounded: true;
$enable-responsive-font-sizes: true;
$border-radius: rem-calc(25px);

$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-raleway: "Raleway", sans-serif;

//slick
$slick-loader-path: "../../assets/img/";

//light gallery
$backdrop-opacity: 0.5;

//формирование базы шрифта
$size: 16px;
$line_height: 26px;
$family: $font-family-sans-serif;
$weight: 400;
$va: 18;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
   (
      0: 0,
      1: (
         $spacer * 0.25,
      ),
      2: (
         $spacer * 0.5,
      ),
      3: (
         $spacer * 0.75,
      ),
      4: $spacer,
      5: (
         $spacer * 1.25,
      ),
      6: (
         $spacer * 1.5,
      ),
      8: (
         $spacer * 2,
      ),
      10: (
         $spacer * 2.5,
      ),
      12: (
         $spacer * 3,
      ),
      16: (
         $spacer * 4,
      ),
      20: (
         $spacer * 5,
      ),
   ),
   $spacers
);
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;

$sizes: map-merge(
   (
      10: 10%,
      15: 15%,
      20: 20%,
      21: 21%,
      25: 25%,
      35: 35%,
      40: 40%,
      45: 45%,
      50: 50%,
      75: 75%,
      80: 80%,
      100: 100%,
      auto: auto,
   ),
   $sizes
);
