//bootstrap
$light: rgba(244, 244, 244, 0.73);
$secondary: #ebebeb;
$green: #00a99d;
$purple: #6a087f;
$indigo: #810e7f;
$black: #161616;
$gray-600: #535c69;
$cyan: #5884d2;

//link
$link-color: $cyan;
// Base font size
/* $rfs-base-font-size: 1.15rem; */
$rfs-rem-value: 10;
// Factor of decrease
$rfs-factor: 23;

$enable-rounded: true;
$enable-responsive-font-sizes: true;
$border-radius: 5px;
$radius: 5px;

//$font-family-sans-serif: "Raleway", sans-serif;

//slick
/* $slick-loader-path: "../../assets/img/"; */

// Breadcrumbs
$breadcrumb-item-padding-x: 1rem;

//light gallery
$backdrop-opacity: 0.5;

//формирование базы шрифта
$size: 16px;
$line_height: 28px;
//$family: $font-family-sans-serif;
$weight: 400;
$va: 18;

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$spacer: 1rem !default;


