<section class="actions-promotion pt-5">
   <div class="container-xxl">
      <h2 class="text-start fw-bold mb-3">12 действий для SEO продвижения</h2>
      <div class="row row-cols-2 row-cols-md-3 pt-3">
         {{#repeat 6}}
         <div class="col">
            <div class="card border-0">
               <img src="assets/img/numbers/1.png" class="position-absolute card__number img-fluid d-block h-70" alt="1">
               <div class="card-body p-0">
                  <h3 class='h4 lh-lg text-uppercase'>Аудит</h3>
                  <ul>
                     <li>Технический SEO-аудит сайта</li>
                     <li>Аудит скорости загрузки</li>
                     <li>Аудит коммерческих факторов</li>
                     <li>Аудит позиций</li>
                     <li>Аудит контента</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="card border-0">
               <img src="assets/img/numbers/12.png" class="position-absolute card__number img-fluid d-block  h-70" alt="2">
               <div class="card-body p-0">
                  <h3 class='h4 lh-lg text-uppercase'>Аудит</h3>
                  <ul class='list-unstyled'>
                     <li>Технический SEO-аудит сайта</li>
                     <li>Аудит скорости загрузки</li>
                     <li>Аудит коммерческих факторов</li>
                     <li>Аудит позиций</li>
                     <li>Аудит контента</li>
                  </ul>
               </div>
            </div>
         </div>
         {{/repeat}}
      </div>
   </div>
</section>