<section class="other-services py-5 position-relative">
   <div class="container-xxl">
      <h2 class="text-start fw-bold mb-3">Другие наши услуги, которые, вам могут помочь:</h2>
      <div class="row mx-3 pt-2 justify-lg-content-center">
         {{#repeat 3}}
         <div class="col-12 col-md-6 col-lg-4 mt-3 item">
            <div class="card bg-dark text-white border-0">
               <!-- style='background-image:url(assets/img/card-bg.jpg)' -->
               <img src="assets/img/card-bg.jpg" class="fluid-img rounded d-block m-auto w-100" alt="card">
               <div class="card-img-overlay d-flex align-items-end">
                  <a href="" class="stretched-link text-decoration-none">
                     <h3 class="h5 card-title fw-bold text-start">
                        SEO продвижение Yandex
                     </h3>
                  </a>
               </div>
            </div>
         </div>
         {{/repeat}}
      </div>
   </div>
</section>