<section class="rd-incr-sales position-relative" style='background-image:url(assets/img/header-img.jpg)'>
   <div class="container-xxl py-5">
      <div class="row justify-content-center align-items-center flex-column">
         <div class="col col-lg-8 z-1">
            <div class="d-grid gap-1 text-white pt-4">
               <h2 class="text-start fw-bolder text-white  text-center mb-4">Готовы увеличить продажи?</h2>
               <p class="text-start text-white text-center">Мы точно знаем, как привести на сайт клиентов, которые
                  станут постоянными
                  и будут приносить прибыль в долгосрочной перспективе</p>
            </div>
         </div>
         <div class="col-6 col-sm-12 z-1 pb-4 pt-4">
            <div class="d-flex flex-column flex-sm-row flex-wrap gap-4 me-auto btn-header justify-content-center">
               <div class="col-12 col-sm-5 col-lg-3">
                  <button type="button"
                     class="btn btn-outline-warning rd-incr-sales__btn border-2 text-uppercase w-100 p-0">Написать
                     нам</button>
               </div>
               <div class="col-12 col-sm-5 col-lg-3">
                  <button type="button"
                     class="btn btn-outline-warning rd-incr-sales__btn border-2 text-uppercase w-100 p-0">Заказать
                     звонок</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>