<section class="sct-header position-relative" style='background-image:url(assets/img/header-img.jpg)'>
   <div class="container-xxl py-4 py-lg-5">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item fs-7 z-1"><a href="#" class="text-white text-decoration-none">Главная</a>
            </li>
            <li class="breadcrumb-item fs-7  z-1 ps-3"><a href="#" class="text-white text-decoration-none">Услуги</a>
            </li>
            <li class="breadcrumb-item fs-7  active text-white-50 z-1 ps-3" aria-current="page">SEO продвижение</li>
         </ol>
      </nav>
      <div class="row">
         <div class="col col-lg-8 z-1">
            <div class="d-grid gap-1 text-white">
               <p class="display-4 text-start fw-bolder">SEO продвижение сайта</p>
               <p class="text-start">Приток новых клиентов, заинтересованных в вашем товаре, которые
                  становятся постоянными клиентами и приносят прибыль в долгосрочной перспективе.</p>
            </div>
         </div>
         <div class="col-12 z-1 mt-4">
            <div class="d-flex flex-column flex-sm-row flex-wrap gap-4 me-auto btn-header">
               <div class="col-12 col-sm-5 col-lg-4">
                  <button type="button"
                     class="btn btn-outline-warning sct-header__btn text-uppercase w-100 p-0">Получить
                     предложение</button>
               </div>
               <div class="col-12 col-sm-5 col-lg-4">
                  <button type="button"
                     class="btn btn-outline-warning sct-header__btn  text-uppercase w-100 p-0">Заказать
                     консультацию</button>
               </div>
               <div class="col-auto">
                  <div class="d-flex flex-column justify-content-end h-100">
                     <p class="text-white m-0">Срок результатов: <span class="text-warning">от 1 месяца</span></p>
                     <p class="text-white m-0">Стоимость за 1 месяц: <span class="text-warning">от 29 900 руб</span></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col col-lg-8 z-1 mt-4">
            <div class="list-info d-grid gap-1 text-white">
               <p class="mb-0">Что вы получаете:</p>
               <ol>
                  <li>Улучшение юзабилити сайта</li>
                  <li>Улучшение технического
      состояния сайта</li>
                  <li>Расширение структуры сайта</li>
                  <li>Оптимизиция страниц сайта</li>
                  <li>Сайт на первых страницах выдачи</li>
                  <li>Увеличение SEO трафика</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</section>