<section class="sct-our-team py-4">
    <div class="container-xxl">
        <h2 class="text-start fw-bold mt-4 pb-3">Наша команда</h2>
        <div class="row">
            {{#repeat 8}}
            <div class="col-6 col-md-3">
                <div class="card border-0 bg-transparent">
                    <div class="card-body card-photo position-relative ps-0 pb-0 pt-3 pe-3">
                        <img src="assets/img/foto-1.jpg" class="img-fluid d-block m-auto z-1" alt="foto-1">
                    </div>
                    <div class="card-body">
                        <p class="h5 text-center fw-bold">Антон С. - Руководитель</p>
                    </div>
                </div>
            </div>
            {{/repeat}}
        </div>
    </div>
</section>