<section class="section-services-all py-10">   
   <div class="container-lg">
      <div class="row">
         <div class="col-auto col-md-8 mb-5" style="max-height: 423px">
            <div class="card shadow-lg bg-dark text-white border-0 overflow-hidden  h-100">
               <img src="./assets/img/laptop-screen.jpg" class="img-fluid d-block m-auto h-100 w-100" alt="...">
               <div class="card-img-overlay d-flex align-items-end">                  
                  <a href="#" class="stretched-link"></a>
                  <div class="row row-cols-2 no-gutters justify-content-between align-items-end w-100 px-0">
                     <div class="col">
                        <h5 class="card-title font-weight-montserrat-800 text-white">Анализ и позиция</h5>
                        <p class="card-link text-white m-0"><u>Подробней</u> <i class="bi-arrow-right-circle__icon"></i></p>
                     </div>
                     <div class="col-auto">
                        <p class="card-text text-white text-left"><s>35000 руб.</s></p>
                        <p class="card-text text-white text-left">от <strong>50000</strong> руб.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-auto col-md-4  mb-5" style="max-height: 423px">
            <div class="card shadow-lg bg-dark text-white border-0 overflow-hidden  h-100">
               <img src="./assets/img/laptop-screen.jpg" class="img-fluid d-block m-auto h-100 w-100" alt="...">
               <div class="card-img-overlay d-flex align-items-end">
                  <a href="#" class="stretched-link"></a>                
                  <div class="row row-cols-2 no-gutters justify-content-between align-items-end w-100 px-0">
                     <div class="col">
                        <h5 class="card-title font-weight-montserrat-800 text-white">Анализ и позиция</h5>
                        <p class="card-link text-white m-0"><u>Подробней</u> <i class="bi-arrow-right-circle__icon"></i></p>
                     </div>
                     <div class="col-auto">
                        <p class="card-text text-white text-left"><s>35000 руб.</s></p>
                        <p class="card-text text-white text-left">от <strong>50000</strong> руб.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>