<section class="section-you-will-get py-4">
    <div class="container-xxl">
       <h2 class="text-start fw-bold mt-4">Вы получите при интернет-продвижении:</h2>
       <div class="row pt-3">
         <div class="col-6 col-sm-4 col-lg-3 py-2">
            <div class="card h-100 bg-light">
               <div class="card-body ">
                  <img src="assets/img/h3-line.png" class="ms-0 pb-2" alt="line">
                  <h3 class="h5 fw-bold pb-2" >
                     Увеличение доли рынка
                  </h3>
                  <div class="card-text">
                     Мы поможем найти среди всех пользователей интернет клиентов, нуждающиеся в ваших услугах / товаре.
                  </div>
               </div>            
            </div>
         </div>

         <div class="col-6 col-sm-4 col-lg-3 py-2">
            <div class="card h-100 bg-light">
               <div class="card-body">
                  <img src="assets/img/h3-line.png" class="ms-0 pb-2" alt="line">
                  <h3 class="h5 fw-bold pb-2" >
                     Целевых посетителей
                  </h3>
                  <div class="card-text">
                     Мы поможем найти среди всех пользователей интернет клиентов, нуждающиеся в ваших услугах / товаре.
                  </div>
               </div>            
            </div>
         </div>
         <div class="col-6 col-sm-4 col-lg-3 py-2">
            <div class="card h-100 bg-light">
               <div class="card-body">
                  <img src="assets/img/h3-line.png" class="ms-0 pb-2" alt="line">
                  <h3 class="h5 fw-bold pb-2">
                     Рост заявок
                  </h3>
                  <div class="card-text">
                     Мы правильно оформим ваше предложение, чтобы ваша целевая аудитория не смогла уйти к конкурентам и оставалась с вами.
                  </div>
               </div>            
            </div>
         </div>
         <div class="col-6 col-sm-4 col-lg-3 py-2">
            <div class="card h-100 bg-light">
               <div class="card-body">
                  <img src="assets/img/h3-line.png" class="ms-0 pb-2" alt="line">
                  <h3 class="h5 fw-bold pb-2">
                     Целевых посетителей
                  </h3>
                  <div class="card-text">
                     Мы поможем найти среди всех пользователей интернет клиентов, нуждающиеся в ваших услугах / товаре.	
                  </div>
               </div>            
            </div>
         </div>
       
 </section>