<section class="section-our-services bg-secondary py-4">
   <div class="container-xxl">
      <h2 class="text-start fw-bold">Наши услуги</h2>
      <div class="row pt-3">
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-lg-4 py-2">
            <a href="#" class="btn w-100" style="background-image:url(assets/img/seo-1536x1025.png);">
               <h3 class="h5 text-uppercase text-white m-0 p-4">Seo продвижение</h3>
            </a>
         </div>
      </div>

</section>