<section class="section-clients-reviews d-flex align-items-center mb-16">
    <div class="container-lg">
<h2 class="display-3 text-uppercase text-center font-weight-montserrat-900 mb-6">Клиенты и отзывы</h2>

        <div class="row align-items-center justify-content-center">

            <div id="carouselExampleIndicators-2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators-2" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner pb-12 pb-md-20">
                    <div class="carousel-item active">
                        <div class="card border-0 m-3">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body mt-4">
                                        <h5 class="card-title font-weight-montserrat-700">"Название компании"</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                                            content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional
                                            content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional
                                            content. This content is a little bit longer.</p>

                                            <hr class="my-10">

                                        <h5 class="card-title font-weight-montserrat-700">Что было сделано?</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                                            content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                                            additional
                                            content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                                            additional
                                            content. This content is a little bit longer.</p>

                                    </div>
                                </div>

                                <div class="col-md-4 d-none d-md-block card-img-wrapper rounded-right">
                                    <div class="px-16 py-10">
                                        <img src="../../assets/img/clients-reviews/contract.png" class="card-img rounded-0" alt="contract">
                                    </div>
                                </div>
                                <div class="col-md-4 d-block d-md-none card-img-wrapper rounded-bottom">
                                    <div class="px-16 py-10">
                                        <img src="../../assets/img/clients-reviews/contract.png" class="card-img rounded-0" alt="contract">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</section>
