<section class="section-why-order bg-light py-4">
    <div class="container-xxl">
       <h2 class="text-start fw-bold mt-4">Почему стоит заказать у нас ?</h2>

        <div class="row">
            {{#repeat 7}} 
            <div class="col-12 col-sm-6 col-lg-3 py-3">
                <div class="card pb-4 bg-light">
                    <img src="assets/img/section-why-order.jpg" class="" alt="section-why-order">
                    <div class="card-body">
                      <p class="card-text">Улучшение ранжирования сайта в результатах выдачи поисковых систем</p>
                    </div>
                </div>
            </div>
            {{/repeat}}
        </div>
    </div>
</section>