<section class="section-questions-left position-relative">
   <div class="container-lg pt-20 pb-10">
      <div class="row flex-column ">
         <div class="col mt-20">
            <h2 class="font-size-33 text-center font-weight-montserrat-900 text-uppercase font-size-64">Остались
               вопросы?</h2>
         </div>
         <div class="col mt-10">
            <form class="form pt-lg-10 needs-validation">
               <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col">
                     <div class="form-group position-relative h-50">
                        <input type="text" autocomplete="off" class="form-control pl-0" id="freeName"
                           aria-describedby="freeNameHelp" placeholder="Ваше имя:" required>
                        <label for="freeName" class="d-none">Ваше имя:</label>
                     </div>
                     <div class="form-group position-relative h-50">
                        <input type="tel" autocomplete="off" class="form-control pl-0" id="freePhone"
                           aria-describedby="freePhoneHelp" placeholder="Телефон:" required>
                        <label for="freePhone" class="d-none">Телефон:</label>
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group position-relative pt-8 pt-sm-0">
                        <input type="email" autocomplete="off" class="form-control pl-0" id="freeMail"
                           aria-describedby="freeMailHelp" placeholder="E-mail:" required>
                        <label for="freeMail" class="d-none">E-mail</label>
                     </div>
                     <div class="pt-6 pt-sm-0 pt-lg-10">
                        <button type="submit"
                           class="btn btn-gradient text-white br-radius-35 py-5 py-sm-3 py-lg-6 text-lowercase font-weight-montserrat-900 btn-lg btn-block">Задать
                           вопрос</button>
                        <p class="text-muted font-size-14 text-center mt-6">Нажимая на кнопку, Вы соглашаетесь на
                           обработку персональных данных</p>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>