<section class="sct-header-home position-relative" style='background-image:url(assets/img/header-img.jpg)'>
   <div class="container-xxl pb-5 py-lg-5">
      <div id="splide-header" class="splide">
         <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
               <img src="./assets/img/arrow_prev.png" alt="prev">
            </button>
            <button class="splide__arrow splide__arrow--next">
               <img src="./assets/img/arrow_next.png" alt="next">
            </button>
         </div>
         <div class="splide__track">
            <ul class="splide__list">
               {{#repeat 5}}
               <li class="splide__slide px-4 p-sm-0 z-1">
                  <div class="row h-100 flex-column justify-content-center offset-sm-1 gx-md-0">
                     <div class="col-10 col-sm-11 col-lg-8 z-1 pb-4">
                        <div class="d-grid gap-1 text-white">
                           <p class="display-4 text-start fw-bolder text-white mb-4 mb-sm-5">Продвижение компаний в
                              интернете
                           </p>
                           <p class="text-start text-white">Достигаем реальные KPI: продаж, заявок и трафика
                              Увеличиваем
                              ваши продажи с помощью Сео продвижения.</p>
                        </div>
                     </div>
                     <div class="col-10 col-ms-11 col-md-10 z-1 pb-5">
                        <div class="row flex-column flex-sm-row flex-wrap me-auto btn-header">
                           <div class="col-12 col-sm-6 col-lg-4 mb-3">
                              <button type="button"
                                 class="btn btn-outline-warning border-2 sct-header-home__btn text-uppercase w-100 p-0">Заказать
                                 SEO
                                 продвижение</button>
                           </div>
                           <div class="col-12 col-sm-6 col-lg-4 mt-3 mt-sm-0">
                              <button type="button"
                                 class="btn btn-outline-warning border-2 sct-header-home__btn  text-uppercase w-100 p-0">Заказать
                                 консультацию</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               {{/repeat}}
            </ul>
         </div>
      </div>
   </div>
</section>