<section class="section-our-team py-4">
    <div class="container-xxl">
       <h2 class="text-start fw-bold mt-4 w-75">Стек рекламных площадок и технологий используемые нами</h2>

        <div class="row">
            {{#repeat 33}}
            <div class="col-12 col-sm-4 col-lg-2 py-2">
                <div class="card">
                    <img src="assets/img/logs_26.jpg" class="card-img-top p-3" alt="logs_26">
                  </div>
            </div>
            {{/repeat}}
        </div>
    </div>
</section>