<section class="section-our-services bg-light py-4">
    <div class="container-xxl">
       <h2 class="text-start fw-bold mt-4">Наши услуги</h2>
       <div class="row pt-3">
         {{#repeat 12}}
           <div class="col-12 col-md-6 col-lg-4 my-2 px-2" >
               <div class="wrapper-card" style="background: url(/assets/img/seo-1536x1025.jpg); background-position: left 26%;">
                  <a href="#" class="btn w-100 p-3">
                     <h3 class="d-block h5 z-1 text-uppercase text-white m-0 p-4">Seo продвижение</h3> 
                  </a>

               </div>
           </div>
           {{/repeat}}
       </div>
 </section>
