<section class="section-free-consultation d-flex align-items-center position-relative">
 <img data-sizes="auto" data-src="./assets/img/girll.png" 
 class="img-fluid  mx-auto position-absolute lazyload d-none d-md-block"/>
 <img data-sizes="auto" data-src="./assets/img/girll-sm.png" 
 class="img-fluid d-block mx-auto position-absolute lazyload d-md-none"/>
   <div class="container-lg mt-37 mb-lg-10">      
      <div class="row justify-lg-content-start flex-sm-column-reverse flex-md-column">
         <div class="col">
            <h2 class="section-free-consultation__h font-size-33 text-center text-md-left text-white font-weight-montserrat-900">ЗАКАЖИ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</h2>
             <p class="text-white text-center text-md-left">Оставьте заявку на бесплатную консультацию и наш специаист свяжется с Вами в ближайшее
         время.</p>
         </div>
         <div class="col col-md-10 col-lg-5 mb-20 mb-lg-auto align-self-center align-self-md-start">
            <form class="form pt-lg-10 needs-validation">
               <div class="form-group position-relative mb-6">
                  <input type="text" autocomplete="off" class="form-control text-white pl-0" id="freeName"
                     aria-describedby="freeNameHelp" placeholder="Ваше имя:" required>
                  <label for="freeName" class="d-none">Ваше имя:</label>
               </div>
               <div class="form-group position-relative mb-6">
                  <input type="tel" autocomplete="off" class="form-control text-white pl-0" id="freePhone"
                     aria-describedby="freePhoneHelp" placeholder="Телефон:" required>
                  <label for="freePhone" class="d-none">Телефон:</label>
               </div>
               <div class="form-group position-relative mb-6">
                  <input type="email" autocomplete="off" class="form-control text-white pl-0" id="freeMail"
                     aria-describedby="freeMailHelp" placeholder="E-mail:" required>
                  <label for="freeMail" class="d-none">E-mail</label>
               </div>
               <div class="pt-6 pt-sm-0 pt-lg-10">
                  <button type="submit"
                     class="btn btn-gradient text-white br-radius-35 py-5 py-sm-3 py-lg-6 text-lowercase font-weight-montserrat-900 btn-lg btn-block">ЗАКАЗАТЬ
                     ОБРАТНЫЙ ЗВОНОК</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>