<section class="section-our-services bg-light py-4">
    <div class="container-xxl">
        <h2 class="text-start fw-bold mt-4">Наши услуги</h2>
        <div class="row pt-3">
            {{#repeat 12}}
            <div class="col-12 col-md-6 col-lg-4 my-2 px-2">
                <div class="card border-0 align-items-center justify-content-center h-100"
                     style="background: url(/assets/img/seo-1536x1025.jpg);">
                    <h3 class="h5 z-1 text-uppercase m-0 p-4">Seo продвижение</h3>
                    <a href="#" class="btn w-100 z-2 p-3 stretched-link position-absolute">
                    </a>
                </div>
            </div>
            {{/repeat}}
        </div>
</section>
