<section class="section-our-team py-4">
    <div class="container-xxl">
       <h2 class="text-start fw-bold mt-4 pb-3">Наша команда</h2>

        <div class="row">
            {{#repeat 8}}
            <div class="col-12 col-sm-6 col-lg-3 p-4">
                <div class="card-our-team position-relative">

                    <img src="assets/img/foto-1.jpg" class="card-foto position-absolute" alt="foto-1">

                    <img src="assets/img/bg-foto.jpg" class="card-bg position-relative" alt="bg-card">

                </div>
                <p class="h5 text-center fw-bold pt-2">Антон С. - Руководитель</p>
            </div>
            {{/repeat}}
        </div>
    </div>
</section>