<section class="section-content pt-5">
   <div class="container-xxl">
      <h1 class="text-start fw-bold">SEO продвижение сайта — мера, обязательная для эффективного развития
         онлайн-бизнеса. Наше рекламное digital-агентство
         предоставляет комплексные услуги в этом направлении.</h1>
      <p>Но зачем это? Что даёт такой подход к ведению ресурса? Предлагаем изучить этот вопрос.</p>
      <h2>Что такое SEO продвижение сайтов</h2>
      <p> <a href="#">Продвижение сайта в поисковиках</a> — это сложный комплекс мер, направленных на раскрутку ресурса
         и его выход в ТОП поисковой выдачи. Аббревиатура расшифровывается как Search Engine Optimization. Наша задача
         заключается в том, чтобы:
      </p>
      <ol>
         <li>Изучение поступившей заявки</li>
         <li>Обсуждение целей продвижения, пожеланий клиента</li>
         <li>Составление индивидуального коммерческого
            предложения и его согласование</li>
         <li>Подготовка договора на основе согласованного
            коммерческого предложения</li>
         <li>Подписание договора,
            внесение оплаты и запуск проекта в работу</li>
      </ol>
      <ul>
         <li>Изучение поступившей заявки</li>
         <li>Обсуждение целей продвижения, пожеланий клиента</li>
         <li>Составление индивидуального коммерческого
            предложения и его согласование</li>
         <li>Подготовка договора на основе согласованного
            коммерческого предложения</li>
         <li>Подписание договора,
            внесение оплаты и запуск проекта в работу</li>
      </ul>
   </div>
</section>