<section class="seo-promotion pt-5">
   <div class="container-xxl">
      <h2 class="text-start fw-bold">Как МЫ работаем</h2>
      <div class="row">
         <div class="col-12">
            <div class="list-info">
               <ol>
                  <li>Изучение поступившей заявки</li>
                  <li>Обсуждение целей продвижения, пожеланий клиента</li>
                  <li>Составление индивидуального коммерческого предложения и его согласование</li>
                  <li>Подготовка договора на основе согласованного коммерческого предложения</li>
                  <li>Подписание договора, внесение оплаты и запуск проекта в работу</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</section>