<section class="section-seo-promotion d-flex align-items-center">
        <div class="container-lg">
            <h2 class="display-3 text-uppercase text-center font-weight-montserrat-900 mb-6">12 ОБЯЗАТЕЛЬНЫХ ДЕЙСТВИЙ
                ДЛЯ SEO-ПРОДВИЖЕНИЯ</h2>
            <p class="text-center line-1-35 w-70 mx-auto">Проведем SEO-аудит всех видов: технический, скорости загрузки, комерческих
                факторов, поисковой видимости позиций, контента.</p>
            <div class="row justify-content-center">
                {{#repeat 12}}
                {{>card-seo}}
                {{/repeat}}
            </div>
        </div>
</section>