<section class="slug-card pt-5 position-relative">
   <div class="container-xxl">
      <h2 class="text-start fw-bold mb-3">Услуги по SEO продвижению</h2>
      <div class="btn-scroll d-md-none">
         <button class="btn btn-scroll__left position-absolute p-0" type="button">
            <span class="carousel-control-prev-icon"></span>
         </button>
         <button class="btn btn-scroll__right position-absolute p-0" type="button">
            <span class="carousel-control-next-icon"></span>
         </button>
      </div>
      <div class="row mx-3 pt-2 justify-lg-content-center flex-nowrap">
         {{#repeat 3}}
         <div class="col-12 col-md-6 col-lg-4 mt-3 item">
            <div class="card bg-dark text-white" style='background-image:url(assets/img/card-bg.jpg)'>
               <!-- <img src="assets/img/card-bg.jpg" class="card-img" alt="card"> -->
               <div class="card-body z-1">
                  <h3 class="h3 card-title text-decoration-underline text-white fw-bold text-center">SEO
                     продвижение Yandex
                  </h3>
                  <p class="card-title text-white mt-3 mb-2 fw-bold">Что вы получаете:</p>
                  <div class="card-content mb-3">
                     <ul>
                        <li>Анализ сайта, тематики и конкурентов</li>
                        <li>Оптимизация контента</li>
                        <li>Улучшение юзабилити сайта**</li>
                        <li>Улучшение технического состояния сайта</li>
                        <li>Формирование широкой структуры сайта</li>
                        <li>Поэтапная оптимизация страниц</li>
                        <li>Увеличение SEO трафика</li>
                        <li>Увеличение SEO трафика</li>
                        <li>Увеличение SEO трафика</li>
                        <li>Увеличение SEO трафика</li>
                        <li>Увеличение SEO трафика</li>
                        <li>Увеличение SEO трафика</li>
                     </ul>
                  </div>
                  <div class="py-3">
                     <p class="lh-1 text-white fw-bold">Срок <span class="text-warning">от 1 месяца</span></p>
                     <p class="lh-1 text-white fw-bold">Цена <span class="text-warning">от 29 990 руб</span></p>
                  </div>
                  <div class="row row-cols-2">
                     <div class="col">
                        <button type="button" class="btn btn-outline-warning border-2 w-100">Заказать</button>
                     </div>
                     <div class="col">
                        <button type="button" class="btn btn-outline-warning border-2 w-100">Подробней</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{/repeat}}
      </div>
   </div>
</section>