<section class="success-promoting pt-5">
   <div class="container-xxl">
      <h2 class="text-start fw-bold mb-5">Наши успехи в продвижении</h2>
      <div class="row">
         <div class="col-12">
            <div class="card border-0 mb-3">
               <div class="row g-0">
                  <div class="col-12 col-md-5">
                     <div class="card-body p-0">
                        <p class="card-text">Увеличение аудитории за полгода продвижения</p>
                        <p class="card-title text-purle fs-140 fs-160 fs-200">80%</p>
                     </div>
                  </div>
                  <div class="col-12 col-md-7">
                     <img src="assets/img/diagramm.jpg" class="img-fluid m-auto d-block w-100" alt="diagramm">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>