<section class="sct-header-cases py-4">
    <div class="container-xxl pt-4">
        <h1 class="fw-bold pb-3">Наши кейсы</h1>

        <div class="row pb-3">
            {{#repeat 8}}
            <div class="col-12 col-sm-6 col-lg-3 py-2">
                <div class="card">
                    <a href="#website-promotion" class="position-absolute rounded"></a>
                    <img src="./assets/img/our-cases/website-promotion.jpg" class="card-img" alt="website-promotion">
                    <div class="card-img-overlay d-flex align-items-start flex-column bd-highlight">
                        <p class="h5 card-title mb-auto bd-highlight text-white pt-3 ">Кейсы по продвижению сайтов</p>

                        <svg class="bd-highlight mb-2" width="50" height="16" viewBox="0 0 50 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M42.5866 0.586914L40.3595 2.81417L43.9706 6.42527H0V9.57512H43.9706L40.3595 13.1863L42.5866 15.4136L50 8.00019L42.5866 0.586914Z" fill="white"/>
                        </svg>
                    </div>
                  </div>
            </div>
            {{/repeat}}
        </div>
        <h3 class="fw-bold">Заголовок</h3>
        <p>Можно ли заниматься этим самостоятельно? Только в том случае, если вы обладаете специфическими знаниями и имеете опыт поисковой оптимизации сайта. Иначе есть риск не только не добиться желаемого результата, но и сделать хуже. Именно поэтому лучше обращаться в рекламные агентства, и тут тоже есть подводные камни: в первую очередь непрофессионализм исполнителя и закономерный слив бюджета.
            Наша компания занимается раскруткой не первый год, и неприятные моменты, описанные выше, вам переживать не придётся.
        </p>
        <p>Можно ли заниматься этим самостоятельно? Только в том случае, если вы обладаете специфическими знаниями и имеете опыт поисковой оптимизации сайта. Иначе есть риск не только не добиться желаемого результата, но и сделать хуже. Именно поэтому лучше обращаться в рекламные агентства, и тут тоже есть подводные камни: в первую очередь непрофессионализм исполнителя и закономерный слив бюджета.
            Наша компания занимается раскруткой не первый год, и неприятные моменты, описанные выше, вам переживать не придётся.
        </p>
    </div>
</section>