<section class="sct-website-promotion bg-light py-4">
    <div class="container-xxl pt-4">
        <h2 id="website-promotion" class="fw-bold">Кейсы по продвижению сайтов</h2>
        <p>Мы представели несколько наших поектов.
            Занимаемся исключительно белыми методами продвижения.
            Делаем больше, чем просто SEO, Мы проводим постоянный анализ сайта, услучшаем для удобства пользователей и внедряем новые методы продвижаения, чтобы обойти конкурентов и приносить желаемых результатов.
            Смотрите кейсы, где видны изменения сайтовза период нашей работы с нами. Если остались вопросы, оставляйте заяаку, мы перезвоним вам в ближайшее время
        </p>

        <div id="website-promotion-splide" class="splide">
            <div class="splide__arrows">
               <button class="splide__arrow splide__arrow--prev">
                  <img src="./assets/img/arrow_prev.png" alt="prev">
               </button>
               <button class="splide__arrow splide__arrow--next">
                  <img src="./assets/img/arrow_next.png" alt="next">
               </button>
            </div>
            <div class="splide__track">
               <ul class="splide__list">
                  {{#repeat 3}}
                  <li class="splide__slide z-1">
                     <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-6 p-5 card-left">
                                <h3>Проект nova-st.ru</h3>

                                <h4>Заголовок</h4>
                                <p>SEO продвижение сайта по производству бетоных изделий nova-st.ru</p>
                                <p>Срок сотрудничества: c марта 2020 года.</p>

                                <h4>Задачи</h4>
                                <ul>
                                    <li>Увеличить поисковой трафик</li>
                                    <li>Довести сайт до идеального технического состояния</li>
                                    <li>Довести сайт до идеального технического состояния</li>
                                </ul>

                                <h4>Результаты</h4>
                                <p>Выполненые работы</p>
                                <ul>
                                    <li>Максимально расширенного сематического ядра.</li>
                                    <li>Отсутствия технических проблем, влияющих на внутреннюю оптимизацию сайта</li>
                                    <li>Юзабилити сайта</li>
                                </ul>

                            </div>
                            <div class="col-12 col-md-6 card-right" >
                                <div class="card-right__bg p-5 h-100">
                                    <h4>Прирост 90%</h4>
                                    <p>Продвижения исключительно белыми методами.</p>
                                    <img src="./assets/img/our-cases/schedule.jpg" alt="schedule">
    
                                    <h4>Прирост 90%</h4>
                                    <p>Продвижения исключительно белыми методами.</p>
                                    <img src="./assets/img/our-cases/schedule.jpg" alt="schedule">
    
                                </div>
                            </div>
                        </div>
  
                     </div>
                  </li>
                  {{/repeat}}
               </ul>
            </div>
        </div>
    </div>
</section>