<section class="sct-development-cases py-4">
    <div class="container-xxl pt-4">
        <h2>Кейсы по созданию сайтов</h2>

        <div id="development-cases-splide" class="splide shadow">
            <div class="splide__arrows">
               <button class="splide__arrow splide__arrow--prev">
                  <img src="./assets/img/arrow_prev.png" alt="prev">
               </button>
               <button class="splide__arrow splide__arrow--next">
                  <img src="./assets/img/arrow_next.png" alt="next">
               </button>
            </div>
            <div class="splide__track">
               <ul class="splide__list">
                  {{#repeat 3}}
                  <li class="splide__slide z-1">
                     <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-6 p-5 card-left">
                                <h3>Проект nova-st.ru</h3>

                                <h4>О проекте:</h4>
                                <p>nova-st.ru - производитель тротуарной плитки</p>

                                <h4>Задачи</h4>
                                <ul>
                                    <li>Разработка сайта для расширения присутствия компании в интернете увеличения репутации бренда</li>
                                </ul>

                                <h4 class="text-center">Было</h4>
                                <img src="./assets/img/our-cases/before.jpg" alt="">
                            </div>

                            <div class="col-12 col-md-6 p-5 card-right  d-flex flex-column align-self-end" >

                                <h4>Результаты</h4>
                                <ul>
                                    <li>Разделы продукции со своими подразделами и карточками;</li>
                                    <li>Формы обратной связи </li>
                                </ul>

                                <h4 class="text-center">Стало</h4>
                                <img src="./assets/img/our-cases/after.jpg" alt="schedule">

                            </div>
                        </div>
  
                     </div>
                  </li>
                  {{/repeat}}
               </ul>
            </div>
        </div>

    </div>
</section>