<section class="section-our-tream container-lg position-relative">
   <img data-sizes="auto" data-src="./assets/img/section-our-tream.png"
      class="d-block section-our-tream__img-bg position-absolute img-fluid m-auto rounded-circle lazyload">

   <div class="row justify-content-center position-relative">
      <h2 class="display-4 text-uppercase text-center font-weight-montserrat-900 mb-md-6 text-uppercase">КОМАНДА
         ПРОФЕССИОНАЛОВ</h2>
      <div class="col-auto col-md-6">
         <p class="text-center mb-6 mx-auto">Все специалисты нашей компании проходят обучение по материалам
            Игоря Манна, Давида Осипа, Филлипа Котлера</p>
      </div>
   </div>
   <div class="row pt-10">
      <div class="swiper-container gallery-top z-1">
         <div class="swiper-wrapper">
            {{#repeat 9}}
            <div class="swiper-slide">
               <div class="media flex-column flex-sm-row">
                  <div class="col-12 col-sm-4">
                     <img data-sizes="auto" data-src="https://placeimg.com/360/480/people"
                        class="d-block img-fluid rounded lazyload" alt="...">
                  </div>
                  <div class="media-body col-12 col-sm-8 pt-5">
                     <div class="row row-cols-1 justify-content-end justify-content-md-center">
                        <div class="col-10 pt-3 pb-xl-10">
                           <p class="font-size-23">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod
                              tempor incididunt ut
                              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                              commodo
                              viverra
                              maecenas accumsan lacus vel facilisis. </p>
                        </div>
                        <div class="col-auto col-md-10 mt-xl-10">
                           <h4 class="font-weight-montserrat-700">Мария Васильева</h4>
                           <p>UX/UI Designer</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {{/repeat}}
         </div>
      </div>
      <div class="col col-md-8 section-our-tream__thumb position-absolute z-2">
         <!-- Add Arrows -->
         <div class="swiper-button-next swiper-button-gray"></div>
         <div class="swiper-button-prev swiper-button-gray"></div>
         <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
               {{#repeat 9}}
               <div class="swiper-slide">
                  <img data-sizes="auto" data-src="https://swiperjs.com/demos/images/nature-1.jpg"
                     class="d-block img-fluid m-auto rounded-circle lazyload" alt="...">
               </div>
               {{/repeat}}
            </div>
         </div>
      </div>
   </div>
   <div class="pt-24">
      <h2 class="display-4 text-uppercase text-center font-weight-montserrat-900 mb-md-12 text-uppercase">Ваш шедевр
         готов!</h2>
      <p class="mb-6 mx-auto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
         ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
         ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
         enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
         a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
         elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
         eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
         metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
         ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
         libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
         lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
         ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec
         sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,Lorem ipsum dolor sit
         amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
         penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
         pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
         nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis
         eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
         eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
         dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
         Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
         rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
         neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
         tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget
         eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
         consequat, leo eget bibendum sodales, augue velit cursus nunc,Lorem ipsum dolor sit amet, consectetuer
         adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
         parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
         Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
         justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
         tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
         porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
         tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi
         vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
         condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
         vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
         libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
         fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue
         velit cursus nunc,</p>
   </div>
</section>