.section-why-are-we {
   background-clip: padding-box;
   background-origin: border-box;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: rem-calc(646px);
   /*  .img-background {
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   } */
   &__center {
      transform: translate(-50%, -50%);
      top: 47%;
      left: 50%;
   }
   ul {
      li {
         &:before {
            content: "";
            display: inline-block;
            position: absolute;
            height: 12px;
            width: 12px;
            vertical-align: middle;
            background-color: #9f08ea;
            border-radius: 50%;
            top: 24%;
            left: 2%;
            transform: translate(-50%, -50%);
         }
         &:nth-child(1),
         &:nth-child(2) {
            &:before {
               background-color: #d805aa;
            }
         }
         &:nth-child(3) {
            &:before {
               background-color: #c606bd;
            }
         }
         &:nth-child(4) {
            &:before {
               background-color: #b707d0;
            }
         }
         &:nth-child(5) {
            &:before {
               background-color: #9f08ea;
            }
         }
      }
   }

   ul {
      li {
         &::before {
            top: 14%;
         }
      }
   }
}

@include media-breakpoint-down(sm) {
   .section-why-are-we {
      p {
         line-height: 1.2;
      }
      ul {
         li &::before {
            top: 10%;
         }
      }
   }
}
@include media-breakpoint-down(md) {
   .section-why-are-we {
      background-image: url(../img/are-we.png);
      ul {
         li {
            p {
               font-size: rem-calc(13px);
            }
         }
      }
   }
}
@include media-breakpoint-up(sm) {
   .section-why-are-we {
      background-image: url(../img/are-we.png);
   }
}

@include media-breakpoint-down(sm) {
   .section-why-are-we {
      background-image: url(../img/are-we-mobile.png);
      height: rem-calc(1113px);
   }
}
