.section-tariffs{
   &__img-l{
      top:80%;
      left: 10%;
      height: rem-calc(206px );
      transform: translate(-50%, -50%);
   }
    &__img-r{
        top:35%;
        right: .7%;
        height: rem-calc(172px );
        transform: translate(-50%, -50%);
    }
}
