.section-tariffs{
   &__img-l{
      top:80%;
      left: 10%;
      height: rem-calc(206px );
      transform: translate(-50%, -50%);
   }
    &__img-r{
        top:35%;
        right: .7%;
        height: rem-calc(172px );
        transform: translate(-50%, -50%);
    }
    &-cards {
        .heder-left {      
            background: linear-gradient(to right, #a30c80, #5a117d);
        }
        .heder-center {
            background: linear-gradient(to right, #5a117d, #64107e);
        }
        .heder-right {
            background: linear-gradient(to right, #64107e, #a30c80);
        }
    }
}
