@import "../mixin/_mixin";
.section-header {
   background-clip: padding-box;
   background-origin: border-box;
   background-repeat: no-repeat;
   background-size: contain;
   .card {
      &-img-overlay {
         p{
            @include line;
         }         
      }
   }
}

@media (max-width: 414.98px) {
   .section-header {
      background-image: url(../img/home-img-mobile.png);
      height: rem-calc(750px);
      background-size: cover;
   }
}
@media (min-width: 415px) {
   .section-header {
      background-image: url(../img/home-img.png);
      background-size: cover;
      height: rem-calc(670px);
   }
}
@include media-breakpoint-up(xl) {
   .section-header {
      background-image: url(../img/home-img.png);
      background-size: cover;
      height: 77vh;
   }
}

/* @include media-breakpoint-down(md) {
   .section-header {
      .btn-matrix {
         transform: matrix(0.76019, 0, 0, 0.76019, -32, 0);
      }
   }
} */

@include media-breakpoint-up(sm) {
   .section-header {
      background-position: top center;
   }
}
