.section-free-consultation {
   background-image: url(../img/application-form.png);
   background-size: cover;
   height: rem-calc(808px);
   background-repeat: no-repeat;
   background-position: center;
   .form-free {
      height: rem-calc(346px);
      &__bx24-form {
         top: 0;
         left: 0;
      }
   }
   img {
      top: 55%;
      left: 78%;
      transform: translate(-50%, -50%);
   }
   p {
      width: 52%;
   }

   .form-control {
      border-bottom: 1px solid #fff;
      &:focus {
         background: transparent;
         box-shadow: none;
      }
   }
   .form-group {
      label {
         position: absolute;
         top: 0;
         left: 0;
         padding: 10px 0;
         font-size: 16px;
         color: #fff;
         pointer-events: none;
         transition: 0.5s;
      }
      input {
         &::placeholder {
            color: $white;
         }
         /* &:focus {
            ~ label {
               top: -20px;
               left: 0;
               font-size: 0;
            }
         } */
      }
      /* input {
         &:invalid {
            ~ label {
               top: -20px;
               left: 0;
               font-size: 12px;
            }
         }
      }*/
      input {
         &:valid {
            ~ label {
               top: -20px;
               left: 0;
               font-size: 12px;
            }
         }
      }
   }
}

@include media-breakpoint-down(lg) {
   .section-free-consultation {
      &__h {
         width: 60%;
      }
   }
}
@include media-breakpoint-down(md) {
   .section-free-consultation {
      background-position: 64%;
      img {
         top: 64.3%;
         left: 71%;
         width: 43%;
      }
   }
}

@include media-breakpoint-only(sm) {
   .section-free-consultation {
      background-position: 64%;

      img {
         top: 72%;
         left: 74%;
         width: 32%;
      }
   }
}
@media (max-width: 700.98px) and (min-width: 576px) {
   .section-free-consultation img {
      top: 74.4%;
      width: 31%;
   }
}

@include media-breakpoint-down(xs) {
   .section-free-consultation {
      background-position: 37%;
      .mt-37 {
         margin-top: -37%;
      }
      .form-free {
         height: rem-calc(200px);
         &__bx24-form {
            transform: translate(0, -9%);
         }
      }
      img {
         width: 30%;
         top: 82.2%;
         left: 50%;
      }
      &__h {
         width: 100%;
         font-size: 33px;
      }
      p {
         width: 100%;
      }
   }
}
@media (max-width: 395.98px) {
   .section-free-consultation {
      img {
         top: 80.5%;
      }

      &__h {
         font-size: 30px;
      }
      p {
         font-size: rem-calc(13px);
      }
      button {
         font-size: rem-calc(13px);
      }
   }
}
@media (max-width: 414px) {
   .section-free-consultation {
      img {
         top: 85.2%;
      }
   }
}
@media (max-width: 375.98px) {
   .section-free-consultation {
      img {
         top: 86.1%;
      }
   }
}
@media (max-width: 320.98px) {
   .section-free-consultation {
      background-position: 35%;
      .form-free {
         height: rem-calc(267px);
      }
      .mt-37 {
         margin-top: -30%;
      }
      img {
         top: 85.1%;
         width: 41%;
      }
   }
}
@include media-breakpoint-up(xl) {
   .section-free-consultation {
      img {
         left: 71%;
      }
   }
}
