.sct-our-team {
    .card {
        &-photo {
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                background: url(../img/bg-foto.jpg);
                width: 100%;
                height: 100%;
                bottom: 5%;
                left: 5%;
                z-index: -1;
            }
        }
    }
}
