.section-clients-reviews {
   background-image: url(../img/section-clients-reviews.png);
   background-repeat: no-repeat;
   background-clip: padding-box;
   background-origin: border-box;
   background-position: top center;
   background-size: 100% 80%;
   background: white;
   .carousel {
      .carousel-indicators {
         li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #f1a8e1;
         }
         .active {
            background-color: #d805aa;
         }
      }
      .carousel-item {
         .card {
            box-shadow: 0 0 12px 0.16px rgba(0,0,0,0.5);
            hr {
               border-top: 1px solid #c052ec;
            }
            .card-img-wrapper {
               background-image: url(../img/clients-reviews/bg-card.png);
               background-size: cover;  
                         
            }
         }
      }
   }
}
@include media-breakpoint-down(sm) {
   .section-clients-reviews {     
      .card-img-wrapper {
         border-bottom-right-radius: rem-calc($radius);
         border-bottom-left-radius: rem-calc($radius);
         height: rem-calc(399px);
         left: 0px;
         img{
            width: 40%;
         }
      }
   }
}
@include media-breakpoint-down(xs) {
   .section-clients-reviews {
      .card-img-wrapper {
         img{
            width: 50%;
         }
      }
   }
}

@include media-breakpoint-up(md) {
   .section-clients-reviews {
      .carousel-item {
         .card-img-wrapper {            
            border-top-right-radius: rem-calc($radius);
            border-bottom-right-radius: rem-calc($radius);               
            left: 1px;    
            img{
               width: 60%;
            }        
         }
      }
   }
}
