.section-questions-left {
   background: url(../img/form_bottom.png);
    background-clip: padding-box;
   background-origin: border-box;
   background-position: top center;
   background-size: cover;
   .form-control {
      border-bottom: 1px solid $gray-900;
      &:focus {
         background: transparent;
         box-shadow: none;
      }
   }
   .form-group {
      label {
         position: absolute;
         top: 0;
         left: 0;
         padding: 10px 0;
         font-size: rem-calc(16px);
         color: $gray-900;
         pointer-events: none;
         transition: 0.5s;
      }
      input {
         &::placeholder {
            color: $gray-900;
         }
      }
      input {
         &:valid {
            ~ label {
               top: -20px;
               left: 0;
               font-size: rem-calc(12px);
            }
         }
      }
   }
}
