.header {
    background-image: url(../img/header/bg-header.jpg); //linear-gradient(to right, #5a117d, #e703bd);
    background-repeat: repeat-y;
    background-size: inherit;
    background-position: center;
    .nav{
        &-link{
            &.active{
                color: $indigo;
            }
        }        
    }
    .navbar-nav {
        .nav-item {
            &.active {
                background: rgba(255, 255, 255, 0.19);
            }
            &:hover {
                background: rgba(255, 255, 255, 0.19);
                border-radius: $border-radius;
            }
            .collapse{
                top:100%;
                transition: all 2s ease-in-out;
                &__link{
                    right: 2%;
                    bottom: 3%;
                }
                .card{
                    &-body:not(:last-child){
                        border-right: 2px solid $indigo;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .header {
        background-image: url(../img/header/bg-header-mobile.png);
        .collapse {
            background-image: url(../img/header/bg-header.jpg); //linear-gradient(to right, #5a117d, #e703bd);
            background-repeat: repeat-y;
            background-size: inherit;
            background-position: center;
            transition: 0.4s ease-in-out;
            transition-delay: 0.5s;
        }
        .navbar {
            &__logo {
                font-size: 12px;
            }
            .navbar-toggler {
                &:focus {
                    outline: none;
                }
            }
            .navbar-collapse {
                position: absolute;
                width: 100%;
                padding: 0 1.5rem;
                top: 100%;
                left: 0%;
                z-index: 1050;
            }
        }
        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="19px"%3E%3Cpath fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M-0.000,-0.000 L30.000,-0.000 L30.000,1.999 L-0.000,1.999 L-0.000,-0.000 Z"/%3E%3Cpath fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M-0.000,9.000 L30.000,9.000 L30.000,10.999 L-0.000,10.999 L-0.000,9.000 Z"/%3E%3Cpath fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M-0.000,17.000 L30.000,17.000 L30.000,18.999 L-0.000,18.999 L-0.000,17.000 Z"/%3E%3C/svg%3E');
            height: rem-calc(20px);
        }
    }
}
