<footer class="footer bg-purple pt-4">
    <div class="container-lg">
        <div class="row ">

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column footer__link">
                <a href="#" class="h6 font-raleway-500 text-decoration-none my-3 my-sm-2">Услуги и цены</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Потфолио и кейсы</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">FAQ</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Наша команда</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Контакты</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none font-raleway-500 my-3 my-sm-1">SMM</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Настройка таргета FB и INST (креативы, тексты, смыслы)</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Ведение VK</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">SMM - ведение инстаграм</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column footer__link">
                <a href="#" class="h6 font-raleway-500 text-decoration-none my-3 my-sm-1">CEO продвижение</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Анализ CEO технический</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Анализ позиций сайта</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Составление семантического ядра</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">CEO продвижение сайта</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">CEO продвижение страници</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Написание статей</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Крауд ссылки</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column footer__link">
                <a href="#" class="h6 font-raleway-500 text-decoration-none my-3 my-sm-1">Реклама</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Настройка Аналитики Google.Adwords (установка целей)</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Настройка Яндекс.Директ</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Ведение Яндекс.Директ</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Настройка Google.Adwords</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Ведение Google.Adwords</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Настройка Яндекс и Google реклама</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Ведение Яндекс и Google реклама</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Прототипирование сайта (страници)</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column footer__link" style="min-height: 380px">
                <a href="#" class="h6 font-raleway-500 text-decoration-none my-3 my-sm-1">Разработка сайта</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Разработка сайта (прототип, верстка, cms)</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Разработка лендинга (прототип, верстка, cms)</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Продажа лицензии 1С Битрикс Управление сайтом</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Административное ведение сайта (наполнение контентом)</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Техническое ведение сайта</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none my-3 my-sm-1">Лицензии Битрикса</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Продажа лицензий Битрикс24</a>
                <a href="#" class="h6 font-raleway-500 text-decoration-none">Автоматизация Бизнеса (заявки, воронка, почта, аналитика) на базе Битрикс24</a>
            </div>

            <div class="col-12 col-lg-9 d-flex flex-column">
                <a href="#" class="h6 d-block d-lg-none text-white font-weight-bold my-auto py-3">Карта сайта</a>
                <a href="#" class="h4 text-white font-weight-montserrat-700 mb-0">8 (968) 617-88-22</a>
                <a href="#" class="text-white font-raleway-400">order@savin-pr.ru</a>
                <p class="text-white font-raleway-400 text-center text-lg-left pt-3">Подпишитесь на удобную для вас соц. сеть, чтобы не пропустить актуальные новости и акции</p>
                <p class="d-none d-lg-block text-white-50 font-raleway-400">Предложение на сайте не является публичной офертой</p>
            </div>

            <div class="col-12  col-lg-3 d-flex flex-column pt-2">
                <a href="#" class="d-none d-lg-block text-white font-weight-montserrat-700 my-auto h6">Карта сайта</a>
                <div class="d-flex justify-content-center justify-content-lg-between my-auto">
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/twitter.png" alt="twitter" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/vk.png" alt="vk" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/facebook.png" alt="facebook" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/instagram.png" alt="instagram" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/you-tube.png" alt="you-tube" height="39" width="39" />
                    </a>

                </div>
                <p class="d-block d-lg-none text-center text-lg-left text-white-50 font-raleway-400 pt-3">Предложение на сайте не является публичной офертой</p>
                <p class="text-center text-lg-left text-white-50 font-raleway-400 my-auto">ООО "Савин-Пиар" 2020 г.</p>
            </div>

        </div>
    </div>
</footer>