<footer class="footer bg-purple pt-4">
    <div class="container-lg">
        <div class="row ">

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column">
                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">Услуги и цены</a>

                <a href="#" class="h6 text-white-50">Потфолио и кейсы</a>
                <a href="#" class="h6 text-white-50">FAQ</a>
                <a href="#" class="h6 text-white-50">Наша команда</a>
                <a href="#" class="h6 text-white-50">Контакты</a>

                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">SMM</a>

                <a href="#" class="h6 text-white-50">Настройка таргета FB и INST (креативы, тексты, смыслы)</a>
                <a href="#" class="h6 text-white-50">Ведение VK</a>
                <a href="#" class="h6 text-white-50">SMM - ведение инстаграм</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column">
                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">CEO продвижение</a>

                <a href="#" class="h6 text-white-50">Анализ CEO технический</a>
                <a href="#" class="h6 text-white-50">Анализ позиций сайта</a>
                <a href="#" class="h6 text-white-50">Составление семантического ядра</a>
                <a href="#" class="h6 text-white-50">CEO продвижение сайта</a>
                <a href="#" class="h6 text-white-50">CEO продвижение страници</a>
                <a href="#" class="h6 text-white-50">Написание статей</a>
                <a href="#" class="h6 text-white-50">Крауд ссылки</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column">
                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">Реклама</a>

                <a href="#" class="h6 text-white-50">Настройка Аналитики Google.Adwords (установка целей)</a>
                <a href="#" class="h6 text-white-50">Настройка Яндекс.Директ</a>
                <a href="#" class="h6 text-white-50">Ведение Яндекс.Директ</a>
                <a href="#" class="h6 text-white-50">Настройка Google.Adwords</a>
                <a href="#" class="h6 text-white-50">Ведение Google.Adwords</a>
                <a href="#" class="h6 text-white-50">Настройка Яндекс и Google реклама</a>
                <a href="#" class="h6 text-white-50">Ведение Яндекс и Google реклама</a>
                <a href="#" class="h6 text-white-50">Прототипирование сайта (страници)</a>
            </div>

            <div class="col-8 col-sm-6 col-md-3 d-flex flex-column">
                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">Разработка сайта</a>

                <a href="#" class="h6 text-white-50">Разработка сайта (прототип, верстка, cms)</a>
                <a href="#" class="h6 text-white-50">Разработка лендинга (прототип, верстка, cms)</a>
                <a href="#" class="h6 text-white-50">Продажа лицензии 1С Битрикс Управление сайтом</a>
                <a href="#" class="h6 text-white-50">Административное ведение сайта (наполнение контентом)</a>
                <a href="#" class="h6 text-white-50">Техническое ведение сайта</a>

                <a href="#" class="h6 text-white font-weight-bold my-3 my-sm-2">Лицензии Битрикса</a>

                <a href="#" class="h6 text-white-50">Продажа лицензий Битрикс24</a>
                <a href="#" class="h6 text-white-50">Автоматизация Бизнеса (заявки, воронка, почта, аналитика) на базе Битрикс24</a>
            </div>

            <div class="col-12 col-lg-9 d-flex flex-column">
                <a href="#" class="h6 d-block d-lg-none text-white font-weight-bold my-auto py-3">Карта сайта</a>
                <a href="#" class="h4 text-white font-weight-bold mb-0">8 (968) 617-88-22</a>
                <p class="text-white">order@savin-pr.ru</p>
                <p class="text-white text-center text-lg-left">Подпишитесь на удобную для вас соц. сеть, чтобы не пропустить актуальные новости и акции</p>
                <p class="d-none d-lg-block text-white-50">Предложение на сайте не является публичной офертой</p>
            </div>

            <div class="col-12  col-lg-3 d-flex flex-column pt-2">
                <a href="#" class="d-none d-lg-block text-white font-weight-bold my-auto h6">Карта сайта</a>
                <div class="d-flex justify-content-center justify-content-lg-between my-auto">
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/twitter.png" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/vk.png" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/facebook.png" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/instagram.png" height="39" width="39" />
                    </a>
                    <a href="#" class="mx-2 mx-lg-0">
                        <img src="assets/img/footer/you-tube.png" height="39" width="39" />
                    </a>

                </div>
                <p class="d-block d-lg-none text-center text-lg-left text-white-50 pt-3">Предложение на сайте не является публичной офертой</p>
                <p class="text-center text-lg-left text-white-50 my-auto">ООО "Савин-Пиар" 2020 г.</p>
            </div>

        </div>
    </div>
</footer>