<section class="section-header pb-10">
   <div class="card text-white border-0">
      <img src="./assets/img/home-img.png" class="card-img rounded-0" alt="сео">
      <div class="card-img-overlay container-lg">
         <div class="row align-items-center justify-content-start h-100">
            <div class="col-6 pt-20 mb-auto">
               <h1 class="card-title text-white font-weight-bolder display-4">SEO. ПРОДВИЖЕНИЕ САЙТОВ</h1>
               <p class="card-text font-family-raleway">Продвижение в ТОП Яндекс и только белыми методами через развитие
                  сайта. Тысячи
                  запросов в ТОП-10 ежедневно. Первые результаты (рост позиций) уже через месяц после начала работы.</p>
               <div class="text-left mt-6 pl-0">
                  <a href="#"class="btn btn-gradient btn-matrix text-white br-radius-35 text-uppercase font-weight-montserrat-800  py-6 px-4">получить предложение</a>
               </div>
               <ul class="list-unstyled d-flex justify-content-between w-50 mt-6">
                  <li>
                     <a href="#" target="_blank">
                        <img src="./assets/img/soc/vk.png" height="26" width="25" title="vk"
                           alt="vk">
                     </a></li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="./assets/img/soc/twitter.png" height="26" width="25"
                           title="twitter" alt="twitter">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="./assets/img/soc/instagram.png" height="26" width="25"
                           title="instagram" alt="instagram">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="./assets/img/soc/facebook.png" height="26" width="25"
                           title="facebook" alt="facebook">
                     </a>
                  </li>
                  <li>
                     <a href="#" target="_blank">
                        <img src="./assets/img/soc/youtube.png" height="26" width="25"
                           title="youtube" alt="youtube">
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>