<nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-md-5">
   <div class="container-fluid container-lg">
      <div class="row justify-content-between w-100">
         <div class="col-7 col-md-3 pr-md-3">
            <a class="navbar__logo h5 d-flex align-items-center font-weight-montserrat-400 text-white text-break"
               href="#">
               <img src="assets/img/header/logo.png" class="img-fluid d-block mx-auto pr-3" alt="логотип"
                  alt="логотип сео" loading="lazy">Рекламное ВЕБ агенство</a>
         </div>
         <button class="col-2 navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item p-2 active rounded-pill">
                  <a class="nav-link font-raleway-400 text-center text-white text-decoration-none" href="#">Услуги и цены
                     <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item p-2 rounded-pill">
                  <a class="nav-link font-raleway-400 text-center text-white text-decoration-none" href="#">Кейсы</a>
               </li>
            </ul>
         </div>
         <div class="d-none d-md-flex flex-column align-items-end">
            <a href="#" class="h4 text-white font-weight-montserrat-700 mb-0">+7 (495) 189-73-96</a>
            <a href="#" class="text-white font-raleway-400">order@savin-pr.ru</a>
         </div>
      </div>
   </div>
</nav>